<mat-toolbar>
    <button mat-icon-button class="" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <span>Angular Simple Admin</span>
    <span fxFlex></span>

    <div>Hi, User</div>
    <button mat-icon-button class="" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>key</mat-icon><span>Edit Password</span>
        </button>
        <button mat-menu-item [routerLink]="''">
          <mat-icon>logout</mat-icon><span>Logout</span>
        </button>
      </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="isOpen">
        <mat-nav-list>
            <mat-list-item class="item-menu" [routerLink]="'dashboard'"><mat-icon>dashboard</mat-icon><span>Dashboard</span></mat-list-item>

            <mat-expansion-panel class="item-menu">
                <mat-expansion-panel-header>
                    <mat-icon>tables</mat-icon><span>Tables</span>
                  </mat-expansion-panel-header>
                  <mat-nav-list>
                    <mat-list-item class="item-submenu"><mat-icon>arrow_right</mat-icon>Jurnal Umum</mat-list-item>
                    <mat-list-item class="item-submenu"><mat-icon>arrow_right</mat-icon>Buku Besar</mat-list-item>
                    <mat-list-item class="item-submenu"><mat-icon>arrow_right</mat-icon>Neraca</mat-list-item>
                    <mat-list-item class="item-submenu"><mat-icon>arrow_right</mat-icon>Lap. Laba Rugi</mat-list-item>
                  </mat-nav-list>
            </mat-expansion-panel>            

            <mat-list-item class="item-menu" [routerLink]="'about'"><mat-icon>menu_book</mat-icon><span>About</span></mat-list-item>
            
        </mat-nav-list>
        
    </mat-sidenav>
    <mat-sidenav-content cdkScrollable>
      <mat-card><router-outlet></router-outlet></mat-card>        
    </mat-sidenav-content>
</mat-sidenav-container>  